@import 'sanitize'; 	// The latest normalize

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "components/bulma_conf";
@import "components/headlines";
@import "components/header";
@import "components/footer";
@import "components/container";
@import "components/post";
@import "components/vader"; // For the TheaterJS acts.
